@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300&display=swap');

@font-face{
    font-family: nexa-heavy;
    src: url(Nexa-Heavy.ttf) format("truetype");
}

@font-face{
    font-family: organetto-boldcnd;
    src: url(Fontspring-DEMO-organetto-ultracndbold.otf) format("truetype");
}

@font-face{
    font-family: angroltlight;
    src: url(Angro\ LT\ W01\ Light.ttf) format("truetype");
}

@font-face{
    font-family: rafine-black;
    src: url(Rafine\ Black.otf) format("truetype");
}

@font-face{
    font-family: rafine-bold;
    src: url(Rafine\ Bold.otf) format("truetype");
}

:root{
    --softblack: #0f0f0f;
    --hardwhite: #fefefe;
    --softwhite: #aaa;
    --gray: #222;
    --softgray: #888;
    --blue: #1d84e6;
    --darkblue: #1665af;
}

.vids-sect{
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: var(--hardwhite);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 128px 0 48px;
}

.vids-vid{
width: 50%;
aspect-ratio: 16/9;
}

.vids-vid-vertical{
    height: 80vh;
    max-width: 95vw;
}

.vids-img{
    width: 15%;
    aspect-ratio: 1/1;
}

.vids-h4{
    font-family: rafine-black;
    color: var(--softblack);
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1.2rem;
}

.hd-back-btn{
    color: var(--softblack);
    font-size: 1.5rem;
    background-color: var(--hardwhite);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto 0 1rem;
}

.hd-back-btn:hover{
    background-color: #999;
}

header{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}

.br1-h3{
    margin: 0 auto;
}

.hd-client-h3{
    color: var(--hardwhite);
    font-family: rafine-black;
    font-size: 2rem;
    text-decoration: none;
    padding: 0 6px 6px;
    height: fit-content;
    margin: 0 0.5rem 4px auto;
}

@media (max-width:1000px){
    .vids-vid{
        width: 80vw;
    }

    .hd-client-h3{
        font-size: 1rem;
        padding: 0 6px;
        margin: 0 0.5 0 auto;
    }
}

@media (max-width:500px){
    .vids-vid{
        width: 323px;
    }
    .vids-h4{
        font-size: 2rem;
    }
    .hd-client-h3{
        font-size: 14px;
        padding: 0 6px;
        margin: 0 0.5 0 auto;
    }
}